.foot{
    background-color: rgb(46, 41, 41);
    color: white;
    
}

.divLogoFoot{
    display: inline-block;
    text-align: center;
}

#tfoot{
    font-size: 18px;
}


.containerFooter{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
}

#logoBlanco{
    width: 200px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#copy{
    width: 150px;
}


.containerFooter p{
    font-size: 20px;
}

.foot-id{
    margin-top: 1%;
    margin-left: 10%;

    h3{
        color: #ed9c93ff;
    }
}



