<footer class="foot">
    <div class="containerFooter">
        
        <p><br><br>Aqui ira el logo</p>
        <div class="v-line">
        </div>

        <div class="copy">
            <p>Copyright</p>
            <p>Aqui ira todo lo del copy blabla<br>blabla<br>blabla</p>
        </div>

        <div class="quienesSomos">
            <p>Quienes Somos</p>
            <p>loqsea</p>
        </div>

        <div class="contact">
            <p>Contacto</p>
            <p>correo@gmail.com</p>
        </div>


        
    </div>
    
</footer>
