<footer class="foot">
    <div class="containerFooter">
        <div class="divLogoFoot">
            <img src="assets/images/logoBlanco.png" id="logoBlanco">
            <p id="tfoot">¡Te ayudamos a elegir el mejor destino <br>para que pases las mejores vacaciones de tu vida!</p>
            <p id="tfoot2">©Copyright. All rights reserved.</p>
        </div>
    
        <!---
        <div class="foot-id">
            <h3>Contacto</h3>
            <p>tuviajefeliz@gmail.com</p>
        </div>-->
    </div>
    
</footer>
