<footer class="foot">
    <div class="containerFooter">
        
        <img src="assets/images/logo.png" id="logo">
        <div class="v-line">
        </div>

        <div class="foot-id">
            <p>Copyright</p>
            <p>Aqui ira todo lo del copy blabla<br>blabla<br>blabla</p>
        </div>

        <div class="foot-id">
            <p>Compañía</p>
            <p>loqsea</p>
        </div>

        <div class="foot-id">
            <p>Contacto</p>
            <p>tuviajefeliz@gmail.com</p>
        </div>


        
    </div>
    
</footer>
