.foot{
    background-color: rgb(46, 41, 41);
    color: white;
}

.containerFooter{
    display: flex;
    padding: 20px 0px;
}

#logo{
    width: 150px;
    margin-top: 35px;
    margin-left: 5px;
}

.v-line{
    margin-top: 7px;
    border-left: 2px solid white;
    height: 22%;
    left: 11%;
    position: absolute;
   }

.containerFooter p{
    font-size: 20px;
}

.foot-id{
    margin-left: 4%;
}
