.welcome{
    height: 33rem;
    background-color: rgb(255, 197, 197);
}
.image{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('https://images.pexels.com/photos/163688/hiker-travel-trip-wander-163688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 75%;
    opacity: 0.75;
    
}
.title{
    position: absolute;
    top: 11rem;
    left: 10vw;
    text-align: center;
    & h1, h2{
        color: var(--azul-casi-negro);
        font-family: 'DM Serif Display', serif;
        font-family: 'Oleo Script Swash Caps', cursive;
        //font-family: 'Pacifico', cursive;
        //font-family: 'Leckerli One', cursive;
    }
    & h1{
        font-size: 4rem;
        margin-block: 0;
    }
    & h2{
        font-size: 2rem;
        margin-top: 1rem;
    }
    & p{
        color: var(--azul-casi-negro);
    }
}
button{
    margin-block: 2rem;
}
a{
    display: inline-flex;
}