#frame-central{
    position: relative;
    color: black;
    width: 100%;
    height: fit-content;
    margin: 0 auto;

    li{
        list-style-type: none;
    }
}

.boton_flotante{
    width: 10vw;
    position:relative;
    z-index: 1;
    left: 22vw;
    bottom: 107vh;
}

