<div id="frame-central">

    <app-welcome-card></app-welcome-card>
    <!--He puesto 2 tarjetas de descripcion para probar
    Aqui deberian ir el resto de tarjetas-->
    <li *ngFor="let c of cards_desc; let i = index">
        <app-descripcion-card [imagen]="c.url" [titulo]="c.titulo" [texto]="c.texto" [c_index]="i%2">
        </app-descripcion-card>
    </li>
    
    <!--<button [routerLink] = "['/Sentimiento']" class="btn btn-secondary boton_flotante">Descubre más</button>
    <app-seccion-equipo></app-seccion-equipo>-->

</div>