.content_container{
    margin-block: 4rem;
    margin-inline: auto;
    padding-block: 3rem;
    margin-left: 0%;
    border-radius: 30px;
    background: var(--maximum-blue-purple);
    height: fit-content;
    color: var(--azul-casi-negro);

    

    hr{
        border-top: 0.1vw solid var(--azul-casi-negro);
        border-radius: 5px;
    }
}
.navElement {
    color: #35416fff;

    &:hover{
        text-shadow: 0px 0.5px 0.5px #35416fff;
    }
}