.content_container{
    margin-block: 3rem;
    padding-block: 2rem;
    border-radius: 10px;
    background: var(--dark-cornflower-blue);
    height: fit-content;
}
.navElement {
    color: rgb(149, 158, 185);
    margin-block: 0.5rem;
    &:hover{
        text-shadow: 0px 0.5px 0.5px var(--maximum-blue-purple);
    }
}
.active{
    color: white;

    &:hover{
        text-shadow: 0px 0.5px 0.5px white;
    }

}