<div class="container content_container">
    <a mat-button [routerLink] = "['/Admin', {outlets : {opcionesAdmin: ['Configuracion']}}]" routerLinkActive="active" class="navElement"><h5>Configuración</h5></a>
    <a mat-button [routerLink] = "['/Admin', {outlets: {opcionesAdmin: ['Estadisticas']}}]" routerLinkActive="active" class="navElement"><h5>Estadísticas de búsqueda</h5></a>
    <a mat-button [routerLink] = "['/Admin', {outlets: {opcionesAdmin: ['RegistrarAdmin']}}]" routerLinkActive="active" class="navElement"><h5>Añadir administrador</h5></a>
</div>