mat-toolbar{
    top: 0;
    position:sticky;
    height: 4.5rem;
    z-index: 1;
    background-color: rgb(255, 251, 242);
    &:after {
        position:absolute;
        bottom: 0;
        margin-left: -1rem;
        content: '\00a0';
        background-color: rgba(224, 130, 120, 0.541);
        width:100%;
        height: 1%;
    }
    & a{
        color:#35416fff;
    }
}
.spacer{
    flex: 1 1 auto;
}