<mat-toolbar>
    <a mat-button [routerLink] = "['/home']">
        <img src="assets/images/logo.png" id="logo" >
    </a>

    <div class="spacer"></div>
    
    <a mat-button [routerLink] = "['/home']" routerLinkActive="active" class="navElement">Inicio</a>
    <a mat-button [routerLink] = "['/Sentimiento']" routerLinkActive="active" class="navElement">Análisis de Sentimiento</a>
    <a mat-button [routerLink] = "['/QuienesSomos']" routerLinkActive="active" class="navElement">Quiénes Somos</a>
    <a mat-button [routerLink] = "['/Error']" routerLinkActive="active" class="navElement">Comprar billetes</a>
    <!--<a mat-button [routerLink] = "['/AboutUs']" class="navElement">Quienes Somos</a>
    <a mat-button class="navElement">Contacto</a>
    <a mat-raised-button class="bLogin">Login</a>-->


</mat-toolbar>
