<mat-toolbar>
    <a mat-button [routerLink] = "['/home']">
        <img src="assets/images/logo.png" id="logo" >
    </a>

    <div class="spacer"></div>
    
    <a mat-button [routerLink] = "['/home']" routerLinkActive="active" class="navElement">Inicio</a>
    <a mat-button [routerLink] = "['/Sentimiento']" routerLinkActive="active" class="navElement">Analiza tu destino</a>
    <a mat-button [routerLink] = "['/QuienesSomos']" routerLinkActive="active" class="navElement">Quiénes Somos</a>


</mat-toolbar>
