.accordion, .accordion-button{
    color:var(--azul-casi-negro)
}
.accordion-item{
    transition: all 0.2s ease;
}
.accordion-item:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.01);
}