.divError{
    background-color: var(--fondo);
}

.container-error{
    display: flex;
    text-align: center;
}

.div-texto{
    margin-left: 20px;
    h1{
        color: var(--azul-casi-negro);
        font-family: 'DM Serif Display', serif;
        font-size: 4rem;
        font-weight: 500;
        margin: 60px 50px 0px 200px;
    }
    p{
        color: var(--azul-casi-negro);
        text-align: center;
        font-size: 18px;
        margin: 5px 50px 0px 200px;
    }
    a{
        text-decoration: none;
        color: var(--azul-casi-negro);
        font-weight: 700;
        font-size: 20px;
    }
}

#maleta-triste{
    width: 350px;
}

