.descripcion_card{
    --fondo: rgb(255, 251, 242);
    background-color: var(--fondo);

    #div_central{
        position: relative;
        height: 98%;
        width: 98%;
        left: 1%;
        top: 1%;
        background-color: green;
        //overflow: hidden;
        display: flex;
        .div_img{
            //position: absolute;
            width: 50%;
            height: 100%;
            background-color: antiquewhite;
            background-position: 50% 0%;
            background-size: cover;
            img{
                //position: absolute;
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: auto;
                top: 50%;
                left: 50%;
                //transform: translate(-50%, -50%);   
            }
        }  
        .div_texto{
            //position: absolute;
            width: 50%;
            height: 100%;
            background-color: var(--fondo);
            color: #35416fff;
            
        }  
    } 
}