.descripcion_card{
    margin-block: 4rem;
    overflow: hidden;
    #div_central{
        height: 100%;
        display: flex;
        .div_img{
            width: 48%;
            background-position: 50% 70%;
            background-size: cover;
            border: inherit;
        }  
        hr{
            height: 2px;
            width: 80%;
            background: radial-gradient( red 10%, rgb(255, 251, 242) 80%);
            //background-image: radial-gradient( fadeout(var(--letra), 0%) 40%, fadeout(var(--letra), 100%) 80%);
        }
        .div_texto{
            //position: absolute;
            width: 52%;
            margin-block: auto;
            padding-inline: 4%; 
            color: var(--dark-cornflower-blue);
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align:center;
            //order: -1;
            h2{
                font-size: 2.5rem;
                margin-top: -2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }

    } 
}