.container-reg{
    background-color: var(--fondo);
    height: 80vh;
}

.recuadro{
    width: 50%;
    text-align: center;
    margin-inline: auto;
    border: 1px solid var(--dark-cornflower-blue);
    background-color: var(--maximum-blue-purple);
    padding: 50px;
}

.h1logreg{
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    font-size: 3rem;
    color: var(--dark-cornflower-blue);
    font-weight: 700;
    
}
.logologin{
    width: 400px;
    margin-top: 60px;
    left: 50%;
    width: 350px;
}
input[type=text], input[type=email], input[type=password]{
    width: 85%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
}
input[type=submit]{
    width: 85%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--dark-cornflower-blue);
    font-size: 17px;
    font-weight: 300;
    color: white;
    &:hover{
        background-color: rgb(67, 82, 141);
    }
}
.linkReg{
    text-decoration: none;
    color: var(--dark-cornflower-blue);
    font-weight: 600;
    &:hover{
        
        text-shadow: 1px 1px white;
    }
}
