
<div class="container-reg">
    <div class="recuadro">
        <h1 class="h1logreg">¡Bienvenido!</h1>
        <div class="container_form">
            <form ngNoForm [action]="url" method="" name="formulario">
                <input type="email" name="email" id="email" placeholder="Correo electrónico"/>
                <input type="password" name="pass" id="pass" placeholder="Contraseña"/>
                <input type="submit" name="loginB" value="Iniciar sesión"/>
            </form>
        </div>
        <p>¿No tienes cuenta?</p>
        <a mat-button [routerLink]="['/Registro']" routerLinkActive="active" class="linkReg">¡Crea una cuenta!</a>
    </div>
</div>