.title_container{
    background-color: var(--maximum-blue-purple);
    height: 33rem;
}

.img{
    height: 100%;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 75%;
    opacity: 0.7;
   
}

.title{
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 13rem;
    & h2 {
        font-size: 4rem;
        font-family: 'DM Serif Display', serif;
        font-family: 'Oleo Script Swash Caps', cursive;
        //font-weight: bold;
    }
    & h3{
        font-size: 1.5rem;
        margin-top: 1rem;
        font-family: 'DM Serif Display', serif;
        font-family: 'Oleo Script Swash Caps', cursive;
        //font-weight: bold;
    }
}
.searchbar{
    width: 50vw;
    text-align: center;
    color: white;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: inline-flex;
}

a{
    font-size: 0.9rem;
}

input{
    margin-right: 0.5px;
}
input:focus{
    box-shadow: 2px 2px 2px 1px rgba(32, 21, 64, 0.2);
    border-color: none;
}

button{
    box-shadow: none;
    height: 2.3rem;
    
}

mat-form-field{
    width: 87.5%;
    background-color: white;
    border-radius: 0.25rem;
    height: 2.3rem;
    margin-block: auto;
    margin-inline: auto;

}
form{
    width: 100%;
}