<div class="container tweets-analysis">
    <div class="row tweets">
        <div class="col-md-12">
            <h3>2000 Tweets analizados</h3>
        </div>  
    </div>
    <div class="row progress">
        <div class="col-md-12">
            <h2>Polaridad</h2>     
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                25%
            </div>
        </div>
    </div>
    <div class="row progress">
        <div class="col-md-12">
            <h2>Subjetividad</h2>     
            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                30%
            </div>
        </div>
    </div> 
</div>