<app-sentiment-title></app-sentiment-title>
<app-sentiment-card></app-sentiment-card>
<app-news-card></app-news-card>
<div class="container info">
    <h3>¿Sabias que...?</h3>
    <p>Melilla, País Vasco y Navarra son las comunidades españolas con mayor tasa de delitos de odio al año por cada 100 000 habitantes.
        A continuación se muestran el numero de casos de delitos de odio durante el año 2021 de estas tres comunidades en comparación a otras con menor tasa:
    </p>
    <div class="row mt-4">
        <div class="col-md-2">
            <small>Melilla</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 11.7%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    11.7
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <small>País Vasco</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    10
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <small>Navarra</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 7.7%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    7.7
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <small>Ceuta</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 3.56%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    3.56
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2">
            <small>Madrid</small>
        </div>
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 3.3%;" aria-valuenow="3.3" aria-valuemin="0" aria-valuemax="100">
                    3.3
                </div>
            </div>
        </div>
    </div>
    <small id="fuente">Fuente de información para estos datos: <a href="https://www.abc.es/espana/abci-pais-vasco-y-navarra-comunidades-donde-cometen-mas-delitos-odio-202109100057_noticia.html">ABC</a></small>
</div>
<div class="container help">
    <h3>Preguntas frecuentes</h3>
    <app-sentiment-help></app-sentiment-help>
</div>

<!--
<div class="container content_container">
    <h5 class="text-center">Escribe cualquier texto y pulsa el botón</h5>
    <hr>
    <form #dataFetch="ngForm" (ngSubmit)="onClickSubmit()" id="sentimentform">
        <div class="row row_text">
            <div class="col-md-5">
                <textarea class = "form-control" rows="6" cols="50"  name = "data"  [(ngModel)]="texto" form="sentimentform" placeholder="Pj: En Barcelona hay un tráfico terrible"></textarea>
            </div>
            <div class="col-md-2 text-center">
                <button  type ="submit" class="btn btn-primary">Analizar</button>
            </div>
            <div class="col-md-5">
                <textarea class="form-control" disabled = "disabled" rows = "6" cols="50" placeholder="Aquí aparecerán los resultados del análisis"> {{ sentimiento }} </textarea>
            </div>
        </div>
    </form>
</div>
-->


