.title_container{
    background-color: var(--maximum-blue-purple);
    height: 33rem;
}

.img{
    height: 100%;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 75%;
    opacity: 0.7;
   
}

.title, .searchbar{
    width: 100%;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 16rem;
    & h2 {
        font-size: 4rem;
    }
    & h3{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.content_container{
    margin-block: 4rem;
    margin-inline: auto;
    padding-inline: 5rem;
    padding-block: 3rem;
    border-radius: 30px;
    background: rgba(222, 171, 144, 0.678);
    height: fit-content;
    color: var(--azul-casi-negro);

    p{  
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    h4{
        font-size: 1.6rem;
    }

    hr{
        height: 2px;
        width: 40%;
        margin-inline: auto;
        background: radial-gradient( rgb(255, 0, 98) 10%, var(--vivid-tangerine) 80%);
        //background-image: radial-gradient( fadeout(var(--letra), 0%) 40%, fadeout(var(--letra), 100%) 80%);
    }

    & .row{
        margin-block:3rem;
        margin-inline: 0;
        justify-content: space-around;

        & .col-md-2{
            display: flex;
            padding-block: 1rem;
        }
        button{
            width: 100px;
            align-self: center; 
            margin-inline: auto;  
        }
    }
}
input{
    width:50%;
    padding:10px;
    border:2px solid #0000;
    outline:none; 
    margin-bottom:25px;
    font-size:1.01rem;
}