<div class="title_container">
    <div class="img">

    </div>
    <div class="title">
        <h2>Análisis de sentimiento</h2>
        <h3>La nueva forma de disfrutar de tus vacaciones</h3>
    </div>
</div>

<!--<h2>
    Esta es la manera más sencilla
    <strong>de viajar seguro</strong>
</h2>-->
<div class="form-container">
    <div class="sidebar">
        <img src="assets/images/fotocompu2.png" alt="Foto integrante" width="100" alt="form_image">
    </div>
    <form #dataFetch="ngForm" (ngSubmit)="onClickSubmit(dataFetch.value)">
                
        <input type = "text" name = "data"  ngModel placeholder = "aca va tu texto" >
        <button type="submit">Ver sentimiento</button>        
    </form>
    

    <div>
        {{ sentimiento }}
    </div>
   
</div>

<!--
<div style="display:flex;
justify-content: center; width:100%;
  margin: 0 auto;" >
    <form>

        <div class="mb-3">
            <h1></h1>
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="elpan@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe acá tus sentimientos</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Sentmientos</button>
    </form> -->