.row{
    width: 70%;
    margin-inline: auto;
    margin-bottom: 1rem;

    & .col-md-10{
        margin-block: auto;
    }
}

.help, .info{
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: var(--dark-cornflower-blue);
    h3{
        font-family: 'DM Serif Display', serif ;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
}
a{
    color: var(--vivid-tangerine);
    &:hover{
        color: var(--dark-cornflower-blue)
    }
}
small{
    font-weight: bold;
}
#fuente{
    font-weight: normal;
}
.progress-bar{
    background-color: var(--vivid-tangerine);
}