<div class="title_container">
    <div class="img"></div>
    <div class="title">
        <h2>Bienvenido al menú de administrador</h2>
        <h3>Personaliza las funcionalidades de la web a tu gusto</h3>
    </div> 
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-5">
            <app-opciones-admin></app-opciones-admin> 
      
        </div> 
        <div class="col-lg-9 col-md-7">
            <div class="container">
                <router-outlet name="opcionesAdmin"></router-outlet>
            </div>  
        </div>
    </div>
</div>

