<div class="title_container">
    <div class="img"></div>
    <div class="title">
        <h1>Bienvenido al menú de administrador</h1>
        <h2>Personaliza las funcionalidades de la web a tu gusto</h2>
    </div> 
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-opciones-admin></app-opciones-admin>
        </div>
        <div class="col-md-9">
            <div>
                <app-estad-admin></app-estad-admin>
            </div>
            <div>
                <app-estad-admin></app-estad-admin>
            </div>
            <p>
                <strong>Email:{{ email }}</strong>
                <br>
                <strong>Nombre:{{ name }}</strong>
                <br>
                <strong>TOKEN:{{ currentUser }}</strong>
              
              </p>
            <div>
                <app-estad-admin></app-estad-admin>
            </div>
        </div>
    </div>
</div>

