<div class="title_container">
    <div class="img"></div>
    <div class="title">
        <h2>Bienvenido al menú de administrador</h2>
        <h3>Personaliza las funcionalidades de la web a tu gusto</h3>
    </div> 
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-opciones-admin></app-opciones-admin>
        </div>
        <div class="col-md-9">
            <div *ngIf="displayEstad">
                <app-estad-admin></app-estad-admin>
            </div>
            <div *ngIf="displayConfig">
                <app-estad-admin></app-estad-admin>
            </div>
            <div *ngIf="displayInfo">
                <app-estad-admin></app-estad-admin>
            </div>
        </div>
    </div>
</div>

