@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
h2{
    font-family: 'DM Serif Display', serif;
}
#lista-integrantes{
    //background-color: #35416F;
    background-color: var(--azul-casi-negro);
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.grid-item{
    display: flex;
    justify-content: center;
}