<div id="lista-integrantes">
    <h1 class="display-4 py-2">QUIÉNES SOMOS</h1>
    <p>Somos un grupo formado por cinco estudiantes del grado de Ingeniería Informática de la Universidad Europea de Madrid. 
      <br>Estamos llevando a cabo esta página web con el objetivo de que el usuario pueda analizar una zona de destino en cuanto a la seguridad con respecto 
      a delitos, los precios de los alquileres de la zona, los sitios de interés cercanos y el tiempo atmosférico. 
      Esta web realizará en adición un análisis de sentimientos de las opiniones de los usuarios de redes sociales sobre la zona en cuestión.</p>
  
    <h2 class="display-5 py-5">Nuestro equipo</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[0].foto" [nombre]="integrantes[0].nombre" [rol]="integrantes[0].rol" [motivacion]="integrantes[0].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[1].foto" [nombre]="integrantes[1].nombre" [rol]="integrantes[1].rol" [motivacion]="integrantes[1].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[2].foto" [nombre]="integrantes[2].nombre" [rol]="integrantes[2].rol" [motivacion]="integrantes[2].motivacion"></app-tarjeta-integrante></div>
        </div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[3].foto" [nombre]="integrantes[3].nombre" [rol]="integrantes[3].rol" [motivacion]="integrantes[3].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[4].foto" [nombre]="integrantes[4].nombre" [rol]="integrantes[4].rol" [motivacion]="integrantes[4].motivacion"></app-tarjeta-integrante></div>
        </div>
      </div>
</div>