@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
h2, h1{
    font-family: 'DM Serif Display', serif;
}
p{
    font-size: 18px;
    text-align: center;
    margin: 10px 60px;
}
#lista-integrantes{
    //background-color: #35416F;
    background-color: var(--dark-cornflower-blue);
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.grid-item{
    display: flex;
    justify-content: center;
}

    
