<div id="lista-integrantes">
    <h2 class="display-5 py-5">Nuestro equipo</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[0].foto" [nombre]="integrantes[0].nombre" [rol]="integrantes[0].rol" [motivacion]="integrantes[0].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-sm-4">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[1].foto" [nombre]="integrantes[1].nombre" [rol]="integrantes[1].rol" [motivacion]="integrantes[1].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-sm-4">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[2].foto" [nombre]="integrantes[2].nombre" [rol]="integrantes[2].rol" [motivacion]="integrantes[2].motivacion"></app-tarjeta-integrante></div>
        </div>
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[3].foto" [nombre]="integrantes[3].nombre" [rol]="integrantes[3].rol" [motivacion]="integrantes[3].motivacion"></app-tarjeta-integrante></div>
        </div>
        <div class="col-sm-4">
          <div class="grid-item"><app-tarjeta-integrante [foto]="integrantes[4].foto" [nombre]="integrantes[4].nombre" [rol]="integrantes[4].rol" [motivacion]="integrantes[4].motivacion"></app-tarjeta-integrante></div>
        </div>
      </div>
</div>