<div class="main_div">
    <div class="row justify-content-left">
        <div class="col-md-12 col-sm-12">
            <div class="titulo grid-item">
                <h5><p>{{noticia.titulo}}</p></h5>
            </div>   
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-12">
            <div class="subtitulo grid-item"><p>{{noticia.subtitulo}}</p></div>
        </div>
        
    </div>
    
</div>
