<div class="main_div">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12">
            <div class="titulo grid-item">
                <h5><p>{{noticia.titulo}}</p></h5>
            </div>   
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="fecha grid-item"><p>{{noticia.fecha_noticia}}</p></div>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-5">
            <div class="subtitulo grid-item"><p>{{noticia.subtitulo}}</p></div>
        </div>
        
    </div>
    
</div>
