/*LOGIN*/
h5{
    font-family: 'DM Serif Display', serif ;
}
form{
    text-align: center;
    width: 40vw;
    margin-top: 1rem;
}
input[type=text], input[type=email], input[type=password]{
    width: 100%;
    padding: 12px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: var(--dark-cornflower-blue);
}
button{
    margin-top: 1rem;
}
input:focus{
    outline-color: var(--dark-cornflower-blue);
}
